In [2]:
tuples = ("physics","geology","math");
print(tuples)

('physics', 'geology', 'math')

In [3]:
tup1 = ('string',1998,2023);
tup2 = (1,2,3,4,5,6);
tup3 = "a","b","c","d";
print(tup1,tup2,tup3)

('string', 1998, 2023) (1, 2, 3, 4, 5, 6) ('a', 'b', 'c', 'd')

In [4]:
tup1 = ();
print(tup1)

()

In [5]:
tup1 = (50,);
print(tup1)

(50,)

In [6]:
#accessing values in tuples
tup1 = ("apple","mango","cherry");
print(tup1[0])

apple

In [8]:
#tuples cannot update,immutable,but can create one
tup1 = (12,3,4);
tup2 = (12,43,5,"str");
tup3 = tup1 + tup2;
print(tup3);

(12, 3, 4, 12, 43, 5, 'str')

In [13]:
tup1 = ("apple","mango","cherry");
print(tup1);
del tup1;
print("after delete the tup1")

('apple', 'mango', 'cherry')
after delete the tup1