In [3]:
#python identifiers
number = 10
print(number)

_a = 100
print(_a)

x_y = 1000
print(x_y)

10
100
1000

In [5]:
print("hello world")

hello world

In [9]:
type("manohar")

str

In [10]:
a = 4
b = 7
sum = a+b
print(sum)

11

In [12]:
a = 50
b = a
print(a)
print(b)

50
50

In [13]:
a = 50
b = 100
mul = a * b
print(mul)

5000

In [14]:
a = 50
b = a 
print(id(a))
print(id(b))

140719568972104
140719568972104

In [24]:
name = "A"
Name = "B"
naMe = "C"
n_a_m_e = "D"
_name = "E"
_name_ = "F"
na56me = "G"
print(name,Name,naMe,n_a_m_e,_name,_name_,na56me)

A B C D E F G

In [26]:
x=y=z= 100
p = 200
print(x,y,z,p)
print(x)

100 100 100 200
100

In [29]:
a,b,c = 2,4,7
print(a)
print (b)
print (c)

2
4
7

In [1]:
print("Hello, World!")

Hello, World!

In [12]:
#indentation example:
if 5>2:
 print("five is greater than two!")
    print("five is greater than two!")

IndentationError: unexpected indent (3710128964.py, line 4)

In [28]:
#this is acomment.
print("hello,world!")

print("hello,end line comment!")   #this is a comment

hello,world!
hello,end line comment!

In [30]:
#print("Hello, World!") #prevent python from executing code
print("Cheers, Mate!")

Cheers, Mate!

In [31]:
#MULTI-LINE COMMENT
#this is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [32]:
"""
this is a comment
written in 
more than just one line
"""
print("Hello,triple quotes")

Hello,triple quotes

In [33]:
#creating variables
X = 5
name = "John"
print(X)
print(name)

5
John

In [35]:
#declared variables can be changable
x = 4               #x is a int type
x = "now Iam str"   #x is now str type
print(x)

now Iam str

In [39]:
#casting
x = str(3)  #x will be '3'
y = int(3)  #x will be 3
z = float(3) #x will be 3.0
print(x,y,z)

3 3 3.0

In [43]:
#type() inbuild function
x = 4
y = "prostack"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [44]:
#single or double Quotes
X = "Jill jill"
x = 'jilly'
print(X)
print(x)

Jill jill
jilly

In [46]:
#case-sensitive
a = 4
A = "Sweety.."  #A will not overwrite a
print(a)
print(A)

4
Sweety..

In [47]:
#legal variables
myvar = "jellyfish"
my_var = "j"
_my_var = "e"
myVar = "ll"
MYVAR = "y"
myvar2 = "fi"
mYvAr = "sh"
print(myvar)
print(my_var)
print(MYVAR)
print(mYvAr)

jellyfish
j
y
sh

In [48]:
#multi words variable names
#camelCase
myVariableName = "hushh..."
#PascalCase
MyVariableName = "hushh..."
#snake_case
my_variable_name = "hushh.."
print(myVariableName)
print(MyVariableName)
print(my_variable_name)

hushh...
hushh...
hushh..

In [50]:
#unpacking a collection
fruits = ["apple","banana","mango","cherry"]
w,x,y,z = fruits
print(w,x,y,z)

apple banana mango cherry

In [55]:
#print() function-> output variables 
x = "python is awesome"
#print(x)
#multiple variables
x = "python"
y = "is"
z = "awesome"
print(x,y,z)

python is awesome

In [63]:
# + operator in multiple variables
x = "hey "
y = "dude "
z = "whatsapp!"
print( x + y + z )

hey dude whatsapp!

In [64]:
#mathematical operator in multiple variables
a = 4
b = 7
print(a + b)

11

In [65]:
#add of int and str datatypes
x = 5
y = "in words five"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
#comma use in diff datatypes
x = 5
y = "in words five"
print(x,y)

5 in words five

In [71]:
#global variable
x = "high-level language"
def myfunc():
    print("python is a " + x)
myfunc()

python is a high-level language

In [74]:
#local variable ang global variable
x = "awesome"
def myfunc():
    x = "fantastic"
    print("python is " + x)
myfunc()
print("python is " + x)

python is fantastic
python is awesome

In [76]:
#global keyword to make global variable
def myfunc():
    global x
    x = "simple"
myfunc()
print("python is a " + x + " language")

python is a simple language

In [77]:
#change global-variable inside func using globalkeyword
x = "awesome"
def myfunc():
    global x
    x = "fantastic"
myfunc()
print("python is a " + x)

python is a fantastic

In [1]:
#datatypes
x = {
    "name": "ram",
}
print(type(x))

<class 'dict'>

In [2]:
x = ()
print(type(x))

<class 'tuple'>

In [3]:
#str
x = "ramsita"
print(x)       #print x value
print(type(x))  #print datatype of x

ramsita
<class 'str'>

In [4]:
#int
x = 20
print(x)       #printing x value
print(type(x)) #printing datatype of x

20
<class 'int'>

In [5]:
#float
x = 20.5
print(x)   #printing x value
print(type(x))  #printing datatype of x

20.5
<class 'float'>

In [10]:
#complex
x = 6j
print(x)  #printing x value
print(type(x))  #printing datatype of x

6j
<class 'complex'>

In [11]:
#list
x = ["apple","banana","cherry"]
print(x)  #display x value
print(type(x))  #display datatype of x

['apple', 'banana', 'cherry']
<class 'list'>

In [12]:
#tuple
x = ("apple","strawberry","graphes")
print(x)
print(type(x))

('apple', 'strawberry', 'graphes')
<class 'tuple'>

In [13]:
#range
x = range(5)
print(x)
print(type(x))

range(0, 5)
<class 'range'>

In [14]:
#dict
x = {"name": "sita","gender" : "female"}
print(x)
print(type(x))

{'name': 'sita', 'gender': 'female'}
<class 'dict'>

In [15]:
#set
x = {"apple","mango","jackfruit"}
print(x)
print(type(x))

{'jackfruit', 'mango', 'apple'}
<class 'set'>

In [16]:
#frozenset
x = frozenset({"apple","banana","pineapple"})
print(x)
print(type(x))

frozenset({'banana', 'apple', 'pineapple'})
<class 'frozenset'>

In [17]:
#boolean
x=True 
print(x)
print(type(x))

True
<class 'bool'>

In [20]:
#binary datatypes
x = b"hello"
print(x)
print(type(x))

x = bytearray(5)
print(x)
print(type(x))

x = memoryview(bytes(5))
print(x)
print(type(x))

b'hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001B59C94BAC0>
<class 'memoryview'>

In [22]:
#none
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [24]:
#specific datatype
x = str("hello world")
print(x)
print(type(x))

10
<class 'int'>

In [25]:
x =35e3
print(x)

35000.0

In [33]:
x = 35e3
print(x)

35000.0

In [36]:
x = 5j
print(x)
print(type(x))

5j
<class 'complex'>

In [37]:
import random
print(random.randrange(1,10))

3

In [39]:
#type conversion in numbers
x = 10
y = 10.2
z = 45j
#convert int to float
a = float(x)
print(a)

#convert float to int
b = int(y)
print(b)

#we cannot convert complex numbers to other type

10.0
10

In [42]:
#casting variables to specific one type
#int
x = int(1)
y = int(1.0)
z = int("2")
print(x,y,z)

#float
x = float(1)
y = float("2")
z = float(2.5)
p = float("3.3")
print(x,y,z,p)

#str
x = str("s1")
y = str(1)
z = str(2.2)
print(x,y,z)

1 1 2
1.0 2.0 2.5 3.3
s1 1 2.2